@font-face {
  font-family: "Axiforma-Book";
  src: url("../fonts//Axiforma-Book.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Axiforma-Medium";
  src: url("../fonts//Axiforma-Medium.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Axiforma-SemiBold";
  src: url("../fonts//Axiforma-SemiBold.ttf");
  font-style: normal;
}

#unit-name {
  color: #919eab;
  font-family: "Axiforma-Book", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#unit-name:hover{
  cursor: pointer;
}

.active{
  color: #0946C4 !important;
  border-bottom: 3px solid  #0946C4;
  font-family: "Axiforma-SemiBold", sans-serif !important;
}